<%- include('partials/header') %>

    <div class="jumbotron text-center">
        <div class="container">
            <i class="fas fa-user-secret fa-6x mb-5"></i>
            <div class="d-flex justify-content-center mt-2">
                <div class="hash">
                    <span>bcrypt</span>
                    <p class="display-5 m-0"> <%= secret.slice(0,4) %> </p>
                </div>
                <div class="hash">
                    <span>factor</span>
                    <p class="display-5 m-0"> <%= secret.slice(4,6) %> </p>
                </div>
                <div>
                    <p class="display-5 m-0"> <%= secret[6] %> </p>
                </div>
                <div class="hash">
                    <span>salt</span>
                    <p class="display-5 m-0"> <%= secret.slice(7,29) %> </p>
                </div>
                <div class="hash">
                    <span>hash</span>
                    <p class="display-5 m-0"> <%= secret.slice(29,61) %> </p>
                </div>
            </div>
            <hr>
            <a class="btn btn-outline-info btn-lg" href="/" role="button">Home</a>
        </div>
    </div>

<%- include('partials/footer') %>